#main {

  margin-top:10%;
  margin-left: 10%
}
* {
  background-color: #E5E5E5;
}

#notebook {
  position: center;
  height: 400px;
}
#inside_notebook {
  position: center;
  height: 65%;
  margin-top: -54%;
  margin-left: 11.7%;
}

#iconicLabel {
  border: 3px solid #383434;
  border-radius: 18px;
  margin: 10%;
  width: 80%;
  height: 40%;
}

#iconicFull {
  background-color: #F1F1F1;
  border-radius: 18px;
  width: 400px;
  height: 450px;
  margin-left: 0;
}


button {
  font-family: 'Gotham Pro';
  height: 50px;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-left: 1000px;
  margin-top: 20px;
  width: 70%;
  border-radius: 18px;
  border: 0px solid;
}


.butEntrance {
  font-family: 'Gotham Pro';
  color: white;
  background-color: rgba(39, 224, 213, 100%);
}

.butEntrance:hover {
  background-color: rgba(39, 224, 213, 80%);
}

.butReg {
  color: white;
  font-family: 'Gotham Pro';
  background-color: rgba(20, 130, 145, 100%);
}

.butReg:hover {
  background-color: rgba(20, 130, 145, 80%);
}

#iconicTitle {
  align-items: center;
  font-family: 'Birthstone Bounce';
  font-style: normal;
  font-weight: 400;
  font-size: 105px;
  margin-bottom: -30px;
}

#iconicText {
  font-family: 'Gotham Pro';
  margin-left: 18%;
  font-size: 17px;
}

#dev0 {
text-align: center;
align-items:center;
}

.iconic{
margin-top: 5%;
font-family: 'Birthstone Bounce';
  font-style: normal;
  font-weight: 400;
  font-size: 105px;
}

.text_number {
font-family: 'Gotham Pro';
font-style: normal;
font-weight:bold;
font-size: 20px;
line-height: 25px;
color: #575757;
margin-bottom: 20px;
}

.text_dop{
font-size: 12px;
color: #B5B5B5;
text-align: center;
line-height: 17px
}

.inputLogin{
height: 50px;
width: 26%;
border: 5px solid transparent;
border-radius: 18px;
font-family: 'Gotham Pro';
font-style: normal;
font-weight: 1000;
background-color: #E5E5E5;
color: rgba(146, 146, 146, 1);
text-align: left;
margin-bottom: 15px;
outline: none;
padding-left:20px;
}
.inputLogin:hover {
  background-color: #d7cece;
  transition: 0.4s;
}


.butNext {
 font-family: 'Gotham Pro';
  color: white;
  background-color: #148290;
  width: 400px;
  margin-top: 0.8%
 }